# =============================================================================
# PYTHON
# =============================================================================

.venv/
__pycache__/
*.py[cod]

# =============================================================================
# RAW DATA
# =============================================================================

data/raw/*.parquet
data/raw/*.csv

# =============================================================================
# PROCESSED DATA
# =============================================================================

data/processed/*.parquet
data/processed/*.csv

# =============================================================================
# JUPYTER
# =============================================================================

.ipynb_checkpoints/

# =============================================================================
# VS CODE
# =============================================================================

.vscode/

# =============================================================================
# OPERATING SYSTEM
# =============================================================================

.DS_Store
Thumbs.db

# =============================================================================
# ENVIRONMENT VARIABLES
# =============================================================================

.env
.env.*
!.env.example